<h2>Votive 1.0.0 (Letter Cut Ups)</h2>
<p>Based on the works of William S. Burroughs cut-ups, where coherent words and thoughs appear from apparent chaos</p>
<p>25-08-2021</p>
<div id="lettercutups-container">
    <div id="letters-container">
        <span class="letter" mouseout-class="touched" *ngFor="let randomLetterItem of initalRandomLetterArray; let index = index" (mouseout)="changeLetter('letter'+index)" [attr.id]="'letter' + index">{{randomLetterItem}}</span>
    </div>
    <div class="reset-letters-container">
        <a href="" (click)="resetLetters($event); false">Reset letters</a>
    </div>
</div>